
/* .MuiStack-root.css-xtpyok-MuiStack-root {
    margin-left: 180px;
} */

/* .access-control-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
  }
  
  .status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .status-btn.green {
    background-color: #4caf50;
    color: white;
  }
  
  .status-btn.red {
    background-color: #f44336;
    color: white;
  }
  
  .info-box {
    background-color: #e7f3ff;
    border-left: 5px solid #2196f3;
    padding: 10px;
    margin-top: 20px;
  } */
  